Django==5.1.1
djangorestframework==3.14
psycopg2==2.9
Pillow==9.5
gunicorn==20.1
django-cors-headers==4.4.0
whitenoise==6.4
django-filter==24.3
rollbar==1.1.0
dj_database_url==2.2.0
python-dotenv==1.0.1