<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar Static</title>
    {% bootstrap_css %}
</head>
<body>
    <!-- Подключаем шапку (navbar) -->
    {% include 'navbar.html' %}

    <!-- Основной контент -->
    {% include 'flash.html' %}
    <div class="container wrapper flex grow-1">
    <h1 class="my-4">{% trans "Labels" %}</h1>
        <a class="btn btn-primary mb-3" href="{% url 'label_create'%}">{% trans "Create label" %}</a>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Name"%}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{label.id}}</td>
            <td>{{label.name}}</td>
            <td>{{label.created_at}}</td>
            <td>
                <a class="nav-link" href="{% url 'label_update' pk=label.id %}">{% trans "Update" %}</a>
                <a class="nav-link" href="{% url 'label_delete' pk=label.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% bootstrap_javascript %}
</body>
</html>