<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar Static</title>
    {% bootstrap_css %}
</head>
<body>
    <!-- Подключаем шапку (navbar) -->
    {% include 'navbar.html' %}

    <!-- Основной контент -->
    {% include 'flash.html' %}
    <div class="container wrapper flex grow-1">
    <h1 class="my-4">{% trans "Tasks" %}</h1>
        <a class="btn btn-primary mb-3" href="{% url 'tasks_create'%}">{% trans "Create task" %}</a>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Name"%}</th>
            <th>{% trans "Status"%}</th>
            <th>{% trans "Performer"%}</th>
            <th>{% trans "Creator"%}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_card' pk=task.id %}">{{ task.id }}</a></td>
            <td>{{task.name}}</td>
            <td>{{task.status}}</td>
            <td>{{task.performer}}</td>
            <td>{{task.creator}}</td>
            <td>{{task.created_at}}</td>
            <td>
                <a class="nav-link" href="{% url 'tasks_update' pk=task.id %}">{% trans "Update" %}</a>
                <a class="nav-link" href="{% url 'tasks_delete' pk=task.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% bootstrap_javascript %}
</body>
</html>