<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar Static</title>
    {% bootstrap_css %}
</head>
<body>
    <!-- Подключаем шапку (navbar) -->
    {% include 'navbar.html' %}

    <!-- Основной контент -->
    {% include 'flash.html' %}
    <div class="container mt-4">
        <h1 class="my-4">{% trans 'Registration' %}</h1>
      <form action="{% url 'user-create' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label" for="id_first_name">{% trans 'First name' %}</label>
          <input type="text" name="first_name" maxlength="150" class="form-control" placeholder="{% trans 'First name' %}" required="" id="id_first_name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_last_name">{% trans 'Last name' %}</label>
          <input type="text" name="last_name" maxlength="150" class="form-control" placeholder="{% trans 'Last name' %}" required="" id="id_last_name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_username">{% trans 'Username' %}</label>
          <input type="text" name="username" maxlength="150" class="form-control" placeholder="{% trans 'Username' %}" required="" id="id_username">
            <div class="form-text">{% trans 'Enter a valid username. Only letters, numbers, and the symbols @/./+/-/_ are allowed.' %}</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="id_password">{% trans 'Password' %}</label>
          <input type="password" name="password1" maxlength="150" class="form-control" placeholder="{% trans 'Password' %}" required="" id="id_password">
            <div class="form-text">
          <ul>
            <li>{% trans 'Your password must contain at least 3 characters.' %}</li>
          </ul>
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="id_password_check">{% trans 'Password confirmation' %}</label>
          <input type="password" name="password2" maxlength="150" class="form-control" placeholder="{% trans 'Password confirmation' %}" required="" id="id_password_check">
            <div class="form-text">{% trans 'Please re-enter your password for confirmation.' %}</div>
        </div>

        <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}">
      </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>